dt {
    font-weight: bold;
}
.requestList {
    list-style: none;
    padding-left: 0;
}

.requestList li {
    position: relative;
    margin-bottom: 5px;
    margin-left: 0;
}

.requestList li::before {
    content: "";
    position: absolute;
    left: -1em;
    margin-right: 0.1em;
    font-weight: bold;
    color: #333;
}