/* Main */
.header {
    padding-top: 12px;
    background: #fff;
}

.content {
    margin: 24px 16px;
    padding: 20px;
}

.trigger-btn {
    font-size: 16px;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Sider */
.sider {
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: hidden; /* Hide scrollbar but allow content to exist */
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    color: #4f6f52;
    margin: 40px 0;
    font-size: 1.5rem;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}

.ant-menu-item-selected {
    background-color: #4f6f52 !important;
    color: #fff !important;
}

/*header */
.header-icon {
    background: #d2e3c8;
    padding: 8px;
    border-radius: 4px;
    font-size: 15px;
    color: #4f6f52;
    cursor: pointer;
}

/* button and color */
.ant-btn:hover {
    color: #4f6f52 !important;
    border-color: #4f6f52 !important;
}

.ant-btn-primary {
    background-color: #4f6f52;
}

.ant-btn-primary:hover {
    background-color: #173a1a;
    color: #fff;
}

.primary--color {
    color: #4f6f52 !important;
}

.primary--light--color {
    color: #739072 !important;
}

.secondary--color {
    color: #86a789 !important;
}

.light--color {
    color: #d2e3c8 !important;
}

.gray--color {
    color: rgb(182, 181, 181) !important;
}

/* plant lists*/
.plant-card {
    flex: 1;
    height: 250px;
    text-align: center;
}

/* seller list*/
.top-seller,
.featured-seller {
    flex: 1
}
.divider {
    border: 2px solid green;
    height: 50px;
}
.card {
    background-image: linear-gradient(to bottom, #4c7f79, #87e8de);
}